<div class="compact-light-sidebar has-shadow">
        <!-- Begin Side Navbar -->
        <nav class="side-navbar box-scroll sidebar-scroll">
            <!-- Begin Main Navigation -->
            <ul class="list-unstyled">
                <li class="active"><a href="#dropdown-db" aria-expanded="false" data-toggle="collapse"><i class="la la-columns"></i></a>
                    <ul id="dropdown-db" class="collapse list-unstyled pt-0">
                        <li><a href="db-default.html">Default</a></li>
                        <li><a href="db-clean.html">Clean</a></li>
                        <li><a href="db-compact.html">Compact</a></li>
                        <li><a href="db-modern.html">Modern</a></li>
                        <li><a href="db-social.html">Social</a></li>
                        <li><a href="db-smarthome.html">Smarthome</a></li>
                        <li><a href="db-all.html">All</a></li>
                    </ul>
                </li>
                <li><a href="#dropdown-app" aria-expanded="false" data-toggle="collapse"><i class="la la-puzzle-piece"></i></a>
                    <ul id="dropdown-app" class="collapse list-unstyled pt-0">
                        <li><a href="app-calendar.html">Calendar</a></li>
                        <li><a href="app-chat.html">Chat</a></li>
                        <li><a href="app-mail.html">Mail</a></li>
                        <li><a href="app-contact.html">Contact</a></li>
                    </ul>
                </li>
                <li><a href="components-widgets.html"><i class="la la-spinner"></i></a></li>
            </ul>
            <span class="sidebar-separator"></span>
            
            <!-- End Main Navigation -->
        </nav>
        <!-- End Side Navbar -->
    </div>
    <!-- End Left Sidebar -->